@import url("photographer.css");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 400;
  font-size: 36px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 50px;
  text-align: center;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
article h2,
article h3,
article h4,
article p {
  font-weight: 400;
}
article img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  object-fit: cover;
}
article h2 {
  color: #d3573c;
  font-size: 36px;
  line-height: 46.87px;
}
article h3 {
  color: #901c1c;
  font-size: 13px;
  line-height: 16.93px;
}
article p {
  font-size: 10px;
  line-height: 13.02px;
}
article h4 {
  font-size: 9px;
  color: #757575;
  line-height: 11.72px;
}
